@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

main
{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.app
{
  background-image: url('./assets/cold.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app.warm
{
  background-image: url('./assets/warm.jpg');
}

.search
{
  width: 100%;
  margin: 0 0 75px;
}

.search .search-input
{
  display: block;
  width: 100%;
  padding: 10px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #000;
  font-size: 15px;

  transition: 0.4s ease;
}

.search .search-input:focus
{
  background-color: rgba(255, 255, 255, 1);
}